h1 {
    margin: 0;
    padding: 20px 0;
    color: darkkhaki;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: rgb(34, 95, 97);
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: grey;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}